@import url(//db.onlinewebfonts.com/c/112ec584bfc481ccde03444e67f8fc3f?family=Circular+Spotify+Tx+T+Bold);
body{
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    background: #FFF;
}

footer{
    width: 100%;
    position: fixed;        
    height:4.7rem;
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    color: #fff;
    bottom: 0;
}
.fcontent{
    display:flex;
    justify-content: space-between;
}
.left{
    display: flex;
    flex-direction: column;
    padding: 0.9rem 2.5rem;
    line-height: 24px;
}
.right{
    padding: 1.2rem 1.5rem;
}
.text1{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.09rem;
}
.text2{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.06rem;
}
.footerbtn{
    cursor: pointer;
    text-transform: uppercase;
    height: 1.65rem;
    width: 13.3rem;
    color: #2e77d0;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 4rem;
    padding-top: 0.7rem;
    font-weight: 650;
    letter-spacing: 1.76px;
    line-height: 18px;
}
.footerbtn:hover{
    transform: scale(1.06);
}